body{
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100%;
	overflow: hidden;
	
	font-family: -apple-system, BlinkMacSystemFont,'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	  
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.map{
	height: 100%;
	width: 100%;
	position: relative;
}

.userInterface{
	position: absolute;
	border: 1px solid rgb(204, 204, 204);
	border-radius: 16px;
	top: 0;
	left: 0;
	padding: 10px;
	margin: 16px;
	height: calc(100% - 48px);
	background-color: white;
	width: min(425px, 100%);
}

.dsclogo{
	position: absolute;
	right: 50px;
	bottom: 0;
	margin: 20px;
	height: 50px;
	
	display: flex;
	align-items: center;
	justify-content: center;
	
}

.dsclogo img{
	height: 100%;
}

.dsclogo .text{
	padding-left: 10px;
	color: rgb(92, 92, 92);
}

.userInterface .textbox{
	width: 90%;
	outline: none !important;
	border: 1px solid rgb(173, 173, 173);
	padding: 5px 10px;
	border-radius: 8px;
	margin: 0;
}