body{
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100%;
	overflow: hidden;
	font-family: -apple-system, BlinkMacSystemFont,'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	  
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .close-button {
    cursor: pointer;
}

.modal-body {
    padding: 10px 15px;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 9;
    pointer-events: none;
}

#overlay.active {
    pointer-events: all;
    opacity: 1;
}

.map-container {
	display: flex;
	justify-content: center;
	margin-top: 10%;
}

.map{
	height: 70%;
	width: 70%;
	position: absolute;
	top: 20%;
	border: 2px solid grey;
	border-radius: 25px;
}

.searchBox {
    position: absolute;
    top: 5%;
    left: 50%;
    transform:  translate(-50%,50%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;

}

.searchBox:hover > .searchInput {
    width: 240px;
    padding: 0 6px;
}

.searchBox:hover > .searchButton {
  background: white;
  color : #2f3640;
}

.searchButton {
    color: white;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.searchInput {
    border:none;
    background: none;
    outline:none;
    float:left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;

}

@media screen and (max-width: 620px) {
.searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
}
}

.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-36 { font-size: 36px; }

.info {
    cursor: pointer;
}

.logout {
	position: fixed;
	right: 10px;
    top: 5px;
    cursor: pointer;
}

.logout button {
	width: 90px;
	height: 40px;
	border-radius: 20px;
}


.dsclogo{
	position: absolute;
	right: 0;
	bottom: 0;
	margin: 20px;
	height: 50px;
	
	display: flex;
	align-items: center;
	justify-content: center;
	
}

.dsclogo img{
	height: 100%;
}

.dsclogo .text{
	padding-left: 10px;
	color: rgb(92, 92, 92);
}